# Database Configuration
DB_HOST=aqui_va_el_host
DB_PORT=aqui_va_el_puerto
DB_USER=aqui_va_el_usuario
DB_PASSWORD=aqui_va_la_contraseña
DB_NAME=aqui_va_el_nombre

# Application Configuration
PORT=aqui_va_el_puerto
NODE_ENV=development
