# Database Configuration
DB_HOST=aqui_va_el_host
DB_PORT=aqui_va_el_puerto
DB_USER=aqui_va_el_usuario
DB_PASSWORD=aqui_va_la_contraseña
DB_NAME=aqui_va_el_nombre

# Application Configuration
PORT=aqui_va_el_puerto
NODE_ENV=development

# AWS S3 Configuration (para subida de imagenes)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=key_access_example
AWS_SECRET_ACCESS_KEY=key_secret_example
AWS_S3_BUCKET_NAME=politutorias-storage-staging
