option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    # Database
    DB_HOST: politutorias-db.c2548o8g8df2.us-east-1.rds.amazonaws.com
    DB_PORT: 5432
    DB_USER: postgres
    DB_PASSWORD: postgres
    DB_NAME: politutorias_prod
    # Seed API Key
    SEED_API_KEY: super-clave-secreta-para-seed
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
